[submodule "Source/Extension/pxa_cookie_bar"]
	path = Source/  Extension/pxa_cookie_bar
	url = git@github.com:hojalatheef/pxa_cookie_bar.git
[submodule "Source/Extension/static_info_tables"]
	path = Source/Extension/static_info_tables
	url = https://codeberg.org/sjbr/static-info-tables.git
[submodule "Source/Extension/t3kit_extension_tools"]
	path = Source/Extension/t3kit_extension_tools
	url = git@github.com:t3kit/t3kit_extension_tools.git
[submodule "Source/Extension/theme_t3kit"]
	path = Source/Extension/theme_t3kit
	url = git@github.com:hojalatheef/theme_t3kit.git
[submodule "Source/Extension/theme_t3kit_bluemountain"]
	path = Source/Extension/theme_t3kit_bluemountain
	url = git@github.com:hojalatheef/theme_t3kit_bluemountain.git
[submodule "Source/Extension/yaml_parser"]
	path = Source/Extension/yaml_parser
	url = git@github.com:hojalatheef/TYPO3.yaml_parser.git
[submodule "Source/Extension/dyncss_less"]
	path = Source/Extension/dyncss_less
	url = git@github.com:kaystrobach/TYPO3.dyncss_less.git
[submodule "Source/Extension/guide"]
	path = Source/Extension/guide
	url = git@github.com:hojalatheef/typo3-guide.git
[submodule "Source/Extension/themes"]
	path = Source/Extension/themes
	url = git@github.com:hojalatheef/themes.git
